﻿@model List<TestWebApp.Models.ProductPackage.OfferedLabourerService>
@using Microsoft.AspNetCore.Http;

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<head>
    <title>MOLL | Login</title>
</head>
<body bgcolor="#f4f4f4">
    <div id="menu_underheader">
        <h1>Favourites List</h1>
    </div>
    <style>

        .smalltext {
            display: block;
            font-size: 10px;
            text-decoration: none;
            text-align: center;
        }

        #Favouritelist a {
            font-size: 13px;
            text-decoration: none;
            color: #eb8282;
        }

            #Favouritelist a:hover {
                -webkit-transition: all 0.7s ease 0s;
                -moz-transition: all 0.7s ease 0s;
                -o-transition: all 0.7s ease 0s;
                transition: all 0.7s ease 0s;
            }

        #td1 {
            min-width: 60px;
        }

        #td2 {
        }

        #td3 {
            min-width: 200px;
        }

        #td4 {
            min-width: 180px;
        }

        #td5 {
            min-width: 90px;
        }

        #td6 {
            min-width: 40px;
        }

        #td7 {
            min-width: 160px;
        }

        a:hover {
            opacity: .8;
        }

        #link {
            border-radius: 10px;
            max-height: 80px;
        }

        #labimage {
            width: 75px;
            display: block;
            margin: auto;
            border-radius: 100px;
            position: relative;
            top: 12px;
        }

            #labimage:hover {
                -webkit-transition: all 0.7s ease 0s;
                -moz-transition: all 0.7s ease 0s;
                -o-transition: all 0.7s ease 0s;
                transition: all 0.7s ease 0s;
            }

        .addToCartBtn {
            max-width: 10px;
        }

        #naam {
            position: relative;
            top: 25px;
        }

        #adres {
            position: relative;
            top: 15px;
        }

        #email {
            text-align: center;
            position: relative;
            top: -1px;
        }

        #descnaam {
            position: relative;
            top: 5px;
        }

        #desc {
            position: relative;
            top: 2px;
        }

        #tijd, #prijs {
            position: relative;
            top: 7px;
        }

        #td7 button {
            min-width: 110px;
            max-width: 110px;
            padding: 10px 5px 10px 5px;
            font-size: 12px;
        }
    </style>
    <div id="section_form">
        <div id="rectangle">
            <div class="registrationform">

                @foreach (var item in Model)
                {
                    <table id="Favouritelist">
                        <tbody>
                            <tr>
                                <td id="td1"><a id="remove" class="smalltext" href="@Url.Action("RemoveFromFavourites", "Cookie", new { fld_offeredserviceid = item.fld_offeredserviceid })">Remove</a></td>
                                <td id="td2">
                                    <a href="@Url.Action("Details", "Service", new {offeredserviceid = item.fld_offeredserviceid})"><img id="link" src="@item.fld_imagelink" /></a>
                                </td>
                                <td id="td3">
                                    <p id="descnaam" class="smalltext" style="font-weight: bold">@item.fld_name</p>
                                    <p id="desc" class="smalltext">@item.fld_description</p>
                                </td>
                                <td id="td4">
                                    <div class="gridElement" id="clickableElement" onclick="location.href='@Url.Action("DetailsById", "Labourer", new { labourerid = item.fld_labourerid })'">
                                        @{
                                            string img = "post-user-avatar.png";
                                            if (item.fld_gender == "Female")
                                            {
                                                img = "post-user-avatar-female.png";
                                            }
                                        }
                                    </div>
                                    <a href="@Url.Action("DetailsById", "Labourer", new { labourerid = item.fld_labourerid })"><img id="labimage" src="~/images/@img" /></a>
                                    <div class="labourerTekst">
                                        <p id="naam" class="smalltext" style="font-weight: bold">@item.fld_firstname @item.fld_lastname</p>
                                        <p id="adres" class="smalltext">@item.fld_address</p>
                                        <p id="email" class="smalltext">@item.fld_email</p>
                                    </div>
                                </td>
                                <td id="td5"><p id="tijd" class="smalltext">@item.fld_timefirst - @item.fld_timelast</p></td>
                                <td id="td6"><p id="prijs" class="smalltext" style="font-weight: bold">€ @Html.DisplayFor(modelItem => item.fld_cost)</p></td>
                                <td id="td7"><button id="@item.fld_offeredserviceid" class="addToCartBtn" onclick="addToCartFunction(@item.fld_offeredserviceid, '@item.fld_stillavailable')" type="button">Add to cart</button></td>
                            </tr>
                        </tbody>
                    </table>
                }




                @{
                    if (Model.Count == 0)
                    {
                        <p class="titleText">Your favourites list is empty.  <a class="titleText" href="@Url.Action("Index", "Service")"><b>Find your service!</b></a> </p>
                    }

                }
            </div>
        </div>
    </div>
    <form action="action_page.php" style="border:1px solid #ccc">
        <div class="container2">
        </div>
    </form>
</body>
<script>
    function addToCartFunction(id, availability) {
        if (availability === 'Y') {
            var userId = @Json.Serialize(this.Context.Session.GetInt32("UserId"))

            AddToDbCart(id, userId)

            alert('Added to shopping cart!')
        }
        else {
            alert('This labourer is not available at the moment!')
        }
    }

</script>