﻿@model TestWebApp.Models.LoginModel

@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<head>
    <title>MOLL | Forgot Password</title>
</head>

<div id="menu_underheader">
    <h1>Forgot Password | Please fill in your details below</h1>
</div>

<div id="section_form">
    <img id="circlelogo" src="~/images/img_loginLogo.png" />
    <div id="rectangle">

        <div class="registrationform">
            <form asp-action="RequestPassword" asp-controller="Page" method="post">
                <table>
                    <tbody>
                        <tr>
                            <th>Email</th>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;<label for="email"><b></b></label>
                                <input asp-for="EmailAddress" type="text" placeholder="Email Address" name="emailAddress" pattern="a-z0-9._%+-]+a-z0-9.-]+\.[a-z]{2,3}$" title="Email must follow following example: example.example.com" required>
                            </td>
                        </tr>
                        <tr>
                            <td><button type="submit">SUBMIT</button></td>
                        </tr>

                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

<form action="action_page.php" style="border:1px solid #ccc">
    <div class="container2">
    </div>
</form>

