﻿@using Microsoft.AspNetCore.Http
@using TestWebApp.Models;
@using TestWebApp.ElasticSearch.Queries;
@using System.Text;
@using Newtonsoft.Json;
@inject IHttpContextAccessor HttpContextAccessor
@model Tuple<List<TestWebApp.Models.ProductPackage.OfferedLabourerService>, List<TestWebApp.Models.ProductPackage.OfferedLabourerService>, List<TestWebApp.Models.ProductPackage.OfferedLabourerService>>

@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}
<head>
    <link href="~/css/refined/style_Search.css" rel="stylesheet" />
</head>
<style>


    .serviceprice {
        margin-left: 0px;
        margin-right: 0px;
        font-size: 16px;
    }

    .price-wrap span {
        margin-right: -16px;
    }

    .sold {
        margin-left: 0px;
        font-size: 15px;
    }

    .like {
        margin-left: 0px;
        font-size: 15px;
    }

    .btnServiceModal {
        cursor: pointer;
    }
</style>
<div id="menu_underheader">
    <h1>Main menu | Test Environment</h1>
</div>
<div id="underheader">
</div>
<body>
    <section class="section-content bg padding-y-sm" style="display: block; margin: auto">
        <div class="container">
            <p style="text-align: center;">These are the most popular services right now!</p>
            <div class="row-sm">
                @foreach (var pack in Model.Item1)
                {
                    <div class="col-md-2 btnServiceModal" id="@pack.fld_offeredserviceid">
                        <a>
                            <figure class="card card-product">
                                <div class="img-wrap"><p>@pack.fld_name</p><img src="@pack.fld_imagelink" /></div>
                                <figcaption class="info-wrap">
                                    <div class="price-wrap">
                                        <span class="serviceprice">€ @pack.fld_cost</span>
                                        <span class="sold"><img src="~/images/tile_sold.png" />@pack.fld_timesbought</span>
                                        <span class="like"><img src="~/images/tile_like.png" />@pack.fld_addedtowishlist</span>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    var Serviceid = "ServiceDetails" + pack.fld_offeredserviceid;
                    <div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" id="@Serviceid" style="z-index: 999999999;">
                        <div class="modal-dialog modal-lg" style="z-index: 999999999;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button id="x" type="button" class="close" data-dismiss="modal">
                                        X
                                    </button>
                                </div>
                                <div class="modal-body">
                                    @{ Html.RenderPartial("../Service/Details", pack); }
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </section>
    <section class="section-content bg padding-y-sm" style="display: block; margin: auto">
        <div class="container">
            <p style="text-align: center;">Strapped for cash? Check out the 6 cheapest services below!</p>
            <div class="row-sm">
                @foreach (var pack in Model.Item2)
                {
                    <div class="col-md-2 btnServiceModal" id="@pack.fld_offeredserviceid">
                        <a>
                            <figure class="card card-product">
                                <div class="img-wrap"><p>@pack.fld_name</p><img src="@pack.fld_imagelink" /></div>
                                <figcaption class="info-wrap">
                                    <div class="price-wrap">
                                        <span class="serviceprice">€ @pack.fld_cost</span>
                                        <span class="sold"><img src="~/images/tile_sold.png" />@pack.fld_timesbought</span>
                                        <span class="like"><img src="~/images/tile_like.png" />@pack.fld_addedtowishlist</span>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    var Serviceid = "ServiceDetails" + pack.fld_offeredserviceid;
                    <div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" id="@Serviceid" style="z-index: 999999999;">
                        <div class="modal-dialog modal-lg" style="z-index: 999999999;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button id="x" type="button" class="close" data-dismiss="modal">
                                        X
                                    </button>
                                </div>
                                <div class="modal-body">
                                    @{ Html.RenderPartial("../Service/Details", pack); }
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </section>
    <section class="section-content bg padding-y-sm" style="display: block; margin: auto">
        <div class="container">
            <p style="text-align: center;">Looking for a good track record? These services have been purchased the most</p>
            <div class="row-sm">
                @foreach (var pack in Model.Item3)
                {
                    <div class="col-md-2 btnServiceModal" id="@pack.fld_offeredserviceid">
                        <a>
                            <figure class="card card-product">
                                <div class="img-wrap"><p>@pack.fld_name</p><img src="@pack.fld_imagelink" /></div>
                                <figcaption class="info-wrap">
                                    <div class="price-wrap">
                                        <span class="serviceprice">€ @pack.fld_cost</span>
                                        <span class="sold"><img src="~/images/tile_sold.png" />@pack.fld_timesbought</span>
                                        <span class="like"><img src="~/images/tile_like.png" />@pack.fld_addedtowishlist</span>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    var Serviceid = "ServiceDetails" + pack.fld_offeredserviceid;
                    <div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" id="@Serviceid" style="z-index: 999999999;">
                        <div class="modal-dialog modal-lg" style="z-index: 999999999;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button id="x" type="button" class="close" data-dismiss="modal">
                                        X
                                    </button>
                                </div>
                                <div class="modal-body">
                                    @{ Html.RenderPartial("../Service/Details", pack); }
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </section>

    <button id="fixDatabase">FIX DB</button>
</body>
<script>
    $(document).ready(function () {
        $(".btnServiceModal").click(function () {
            console.log('Popup button clicked');
            var id = $(this).attr('id');
            console.log(id);
            $("#ServiceDetails" + id).modal('show');
        });

        $(".btnHideModal").click(function () {
            console.log('Popup Hide button clicked');
            var id = $(this).attr('id');
            $("#ServiceDetails" + id).modal('hide');
        });
    });

    $(document).ready(function () {
        $("#fixDatabase").click(function () {
            $.ajax({
                type: 'GET',
                data: {},
                url: 'Service/fixDatabase',
                succes: function () {
                    alert('done');
                }

            })
        });
    })
</script>
