﻿@model TestWebApp.Models.LoginModel

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<head>
    <title>MOLL | Login</title>

</head>

<body bgcolor="#f4f4f4">
    <div id="menu_underheader">
        <h1>Login | Please fill in your details below</h1>
    </div>

    <div id="section_form">
        <img id="circlelogo" src="~/images/img_loginLogo.png" />
        <div id="rectangle">
            @Model.Message
            <div class="loginform">
                <form asp-action="DoLogin" method="post">
                    <table>
                        <tbody>
                            <tr>
                                <th>Email</th>
                            </tr>
                            <tr>
                                <td>
                                    &nbsp;<label for="email"><b></b></label>
                                    <input asp-for="EmailAddress" type="text" placeholder="Email Address" name="EmailAddress" pattern="a-z0-9._%+-]+a-z0-9.-]+\.[a-z]{2,3}$" title="Email must follow following example: example.example.com" required>
                                </td>
                            </tr>
                            <tr>
                                <th>Password</th>
                            </tr>
                            <tr>
                                <td>
                                    &nbsp;<label for="password"><b></b></label>
                                    <input asp-for="Password" type="password" placeholder="Password" name="Password" minlength="4" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 4 or more characters." oninput="document.getElementById('confirm').pattern = this.value.replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, '\\$&')" required>
                                </td>
                            </tr>
                            <tr>
                                <td id="tdforgotpass">
                                    <a asp-action="ForgotPassword" asp-controller="Page" id="forgotpass">Forgot Password</a>
                                </td>
                            </tr>
                            <tr>
                                <td><button type="submit">LOGIN</button></td>
                            </tr>
                            <tr>
                                <td id="tdnoaccount">
                                    <a asp-action="Register" asp-controller="Page">Don't have an account? Sign Up</a>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>

    <form action="action_page.php" style="border:1px solid #ccc">
        <div class="container2">
        </div>
    </form>
</body>
