﻿@model TestWebApp.Models.tbl_userdata

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <title>MOLL | Register</title>
    <script type="text/javascript">
        $(document).ready(function () { });
    </script>
</head>

    <body>
        <div id="menu_underheader">
            <h1>Register | Please fill in your details below</h1>
        </div>
        <div id="section_form">
            <div id="rectangle">
                @ViewData["message"]
                <div class="registrationform">
                    <form asp-action="DoRegister" method="post">
                        <table>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                            </tr>
                            <tr>
                                <td>&nbsp;<label for="frst"><b></b></label> <input maxlength="50" name="firstname" pattern="[a-zA-Z]{2,}" placeholder="First Name" required="" title="Your name must be between 2 and 50 alphabetical characters (abcdef..)" type="text"></td>
                                <td>&nbsp;<label for="lst"><b></b></label> <input maxlength="50" name="lastname" pattern="[a-zA-Z]{2,}" placeholder="Last Name" required="" title="Your last name must be between 2 and 50 alphabetical characters (abcdef..)" type="text"></td>
                            </tr>
                            <tr>
                                <th>Email Address</th>
                                <th>Username</th>
                            </tr>
                            <tr>
                                <td>&nbsp;<label for="email"><b></b></label> <input name="Email" pattern="a-z0-9._%+-]+a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Email Address" required="" title="Email must follow following example: example.example.com" type="email"></td>
                                <td>&nbsp;<label for="nick"><b></b></label> <input maxlength="25" name="username" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$*" placeholder="Username" required="" type="text"></td>
                            </tr>
                            <tr>
                                <th>Enter Password</th>
                                <th>Repeat Password</th>
                            </tr>
                            <tr>
                                <td>&nbsp;<label for="password"><b></b></label> <input name="password" oninput="document.getElementById('confirm').pattern = this.value.replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, '\\$&')" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,}" placeholder="Enter Password" required="" title="Must contain at least one number and one uppercase and lowercase letter, and at least 4 or more characters." type="password"></td>
                                <td>&nbsp;<label for="repeat"><b></b></label> <input id="confirm" name="confirm" pattern="" placeholder="Repeat Password" required="" title="Password must be same as previously entered." type="password"></td>
                            </tr>
                            <tr>
                                <th>Address</th>
                                <th>Zip Code</th>
                            </tr>
                            <tr>
                                <td>&nbsp;<label for="adres"><b></b></label> <input maxlength="60" name="adres" pattern="(?=.*\d)(?=.*[a-z]).{2,}" placeholder="Address" required="" title="Must contain a streetname and a number like 'Bieslook 17', streetname must have at least 2 characters.'" type="text"></td>
                                <td>&nbsp;<label for="zipcode"><b></b></label> <input name="ZipCode" pattern="[1-9][0-9]{3}\s?[a-zA-Z]{2}" placeholder="Zip Code" required="" title="Zip-code must follow standard rules. Example: 1234 AB" type="text"></td>
                            </tr>
                            <tr>
                                <th>Date of Birth (DD/MM/YYYY)</th>
                                <th>Select Gender</th>
                            </tr>
                            <tr>
                                <td class="datumkleur">
                                    &nbsp;<label class="datefield" for="date"><b></b></label> <input id="datefield" max='2000-13-13' min='1900-01-01' name="dob" pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" placeholder="Date of Birth (DD/MM/YYYY)" required="" type="date">
                                    <script type="text/javascript">
                                        var today = new Date();
                                        var dd = today.getDate();
                                        var mm = today.getMonth() + 1; //January is 0!
                                        var yyyy = today.getFullYear();
                                        if (dd < 10) {
                                            dd = '0' + dd
                                        }
                                        if (mm < 10) {
                                            mm = '0' + mm
                                        }
                                        today = yyyy + '-' + mm + '-' + dd;
                                        document.getElementById("datefield").setAttribute("max", today);
                                    </script>
                                </td>
                                <td>
                                    <select name="gendervalue" required="">
                                        <option value="Male">
                                            Male
                                        </option>
                                        <option value="Female">
                                            Female
                                        </option>
                                        <option value="Other">
                                            Other
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th align="left">Phone Number</th>
                                <th></th>
                            </tr>
                            <tr>
                                <td>
                                    &nbsp; <label for="phone"><b></b></label> <input id="phone" name="phone" pattern="[+]{1}[0-9]{11,13}" placeholder="Phone Number" required="" title="A phone number must consist of a + and at least 11 numbers for example (+31612345678)" type="tel"><br>
                                    <br>
                                </td>
                                <td><button>SIGN UP</button></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>