﻿
@using TestWebApp.Models;
@using Newtonsoft.Json;
@model List<TestWebApp.Models.ProductPackage.OfferedLabourerService>
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
</head>
<style>


    div {
        display: block;
    }

    modal-body {
        padding: 0px !important;
    }

    .creationDiv {
        overflow: hidden;
        font-size: 12px !important;
        max-width: 100%;
    }

    .inputField::after {
        clear: both;
        line-height: 0;
        visibility: hidden;
    }

    .inputField label {
        width: 40%;
        padding-top: 6px;
    }

    .inputField input {
        border: 1px solid black;
        border-radius: 0px;
        padding-left: 2px;
    }

    .inputField select {
        width: 180px;
        left: -1px;
        height: 35px;
        top: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        right: 0px;
        border-radius: 0px;
        border: 1px solid black;
    }


    .highlight {
        background-color: #aab7d1 !important;
        color: black !important;
    }

    #btnDelete {
        float: left;
        display: inline;
    }

    tr:hover {
        background-color: #d9d9db !important
    }



    .dtButtons {
        max-width: 100%;
        margin: 0 auto;
        clear: both;
    }



    .your_modal {
        max-width: 90% !important;
        width: 90% !important;
    }

    td {
        padding: 2px !important;
    }

    table {
        border-spacing: 2px !important;
    }

</style>
<section class="section-content bg padding-y-sm" style="display: block; margin: auto">
    <div class="dtButtons">
        <button id="btnCreate">Create</button>
        <button class="btnEdit" id="#tbl_manageOLS">Edit</button>
        <button id="btnDelete">Delete</button>

    </div>
    <table id="tbl_manageOLS" class="DataTableDiv">

        <thead>
            @foreach (System.Reflection.PropertyInfo property in typeof(TestWebApp.Models.ProductPackage.OfferedLabourerService).GetProperties())
            {
                if (property.Name == "lowerCost" || property.Name == "higherCost" || property.Name == "timeAvailableBegin" || property.Name == "timeAvailableEnd" || property.Name == "fld_description")
                {

                }

                else
                {

                <th>@property.Name</th>

            }
        }
            </thead>
            <tbody>
                @foreach (var package in Model)
                {
                    <tr class="clickableRow" id="@package.fld_offeredserviceid">
                        @foreach (System.Reflection.PropertyInfo property in typeof(TestWebApp.Models.ProductPackage.OfferedLabourerService).GetProperties())
                        {
                            if (property.Name == "lowerCost" || property.Name == "higherCost" || property.Name == "timeAvailableBegin" || property.Name == "timeAvailableEnd" || property.Name == "fld_description")
                            {

                            }

                            else
                            {

                                <td>@property.GetValue(package)</td>

                            }
                        }
                    </tr>
                }
            </tbody>
        </table>


        <!--Modal for creation-->

        <div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" id="ModalCreate">
            <div class="modal-dialog modal-lg your_modal">
                <div class="modal-content">
                    <div class="modal-header">
                        Create an Offered service
                        <button type="button" class="close olscreationclose" data-dismiss="modal">
                            X
                        </button>
                    </div>
                    <div class="modal-body">
                        <script src="~/js/OLSCreation.js" defer="defer"></script>


                        <div class="creationDiv">
                            ... Loading ...
                        </div>
                    </div>
                <div class="modal-footer">
                    <button id="btnCreateNewOLS">Create</button>
                    <button id="btnRenderOLSCreationPreview">Render Preview</button>
                </div>
            </div>
        </div>
    </div>

    <!--Modal for deletion-->

                            <div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" id="ModalDelete">
                                <div class="modal-dialog modal-lg" style="width:80%;">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button id="X" type="button" class="close" data-dismiss="modal">
                                                X
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to Delete the item? </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="btnDeleteRow">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Modal for updating-->

                            @{ var counter = 0;}
                            <div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" id="ModalEdit">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button id="X" type="button" class="close" data-dismiss="modal">
                                                X
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="formDiv">
                                                        <form id="updateItemForm">
                                                            <div class="inputField">
                                                                <label>Cost:</label>
                                                                <input name="fld_cost" id="editInput3" type="number">
                                                            </div>
                                                            <div class="inputField">
                                                                <label>Time begin:</label>
                                                                <input name="fld_timefirst" id="editInput4" type="time">
                                                            </div>
                                                            <div class="inputField">
                                                                <label>Time end:</label>
                                                                <input name="fld_timelast" id="editInput5" type="time">
                                                            </div>
                                                            <div class="inputField">
                                                                <label>Area:</label>
                                                                <select name="fld_Area" id="editInput6">
                                                                    <option value="Drenthe">Drenthe</option>
                                                                    <option value="Flevoland">Flevoland</option>
                                                                    <option value="Friesland">Friesland</option>
                                                                    <option value="Gelderland">Gelderland</option>
                                                                    <option value="Groningen">Groningen</option>
                                                                    <option value="Limburg">Limburg</option>
                                                                    <option value="Noord-Brabant">Noord-Brabant</option>
                                                                    <option value="Noord-Holland">Noord-Holland</option>
                                                                    <option value="Overijssel">Overijssel</option>
                                                                    <option value="Utrecht">Utrecht</option>
                                                                    <option value="Zeeland">Zeeland</option>
                                                                    <option value="Zuid-Holland">Zuid-Holland</option>
                                                                </select>
                                                            </div>

                                                            <div class="inputField">
                                                                <label>Still available:</label>
                                                                <select name="fld_stillavailable" id="editInput7">
                                                                    <option value="N">Unavailable</option>
                                                                    <option value="Y">Available</option>
                                                                </select>
                                                            </div>
                                                            <input type="hidden" value="offeredlabourerservice" id="objectType">
                                                        </form>
                                                        
                                                    </div>
                                                </div>

                                            
                                            
                                                <div class="col">
                                                    <p>Preview: </p>
                                                    <div class="UpdateItemPreviewDiv">
                                                        <div class="itemPreviewDiv">
                                                            ...Loading preview...
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="btnUpdateRow">Update</button>
                                            <button id="btnRenderUpdatePreview" value="update">Render Preview</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

</section>
    <script>
        $(document).ready(function () {


            $('#tbl_manageOLS').DataTable({
                "autoWidth": false,

                "createdRow": function (row, data, index) {
                    $(row).addClass('clickableRow');
                },
                "columnDefs": [
                    { "max-width": "5%", "targets": 8 }
                ]
            });
        });




        $(document).ready(function () {
            $("#btnCreate").click(function () {
                var id = $(this).attr('id');
                console.log(id);

                var OLSCreationHtml = GetCreationModal();
                $('.creationDiv').html(OLSCreationHtml);
                $("#ModalCreate").modal('show');
            });

            $("#btnCreateClose").click(function () {
                var id = $(this).attr('id');
                $("#ModalCreate").modal('hide');
            });
        });


        //Delete a selected item
        $(document).ready(function () {
            $('#btnDeleteRow').click(function () {
                console.log('clicked');

                //Get the item ID
                var itemId = getRowItemId('#tbl_manageOLS');

                if (itemId === -1) {
                    alert('No row selected!');
                    $("#ModalDelete").modal('hide');

                    return;
                }

                var foundDependencies = checkForDependencies(itemId, 'offeredlabourerservice');


                if (foundDependencies === 0) {
                    var uselessVariable = deleteFromTable('#tbl_manageOLS')

                    deleteFromDatabase(itemId, 'offeredlabourerservice');
                    $("#ModalDelete").modal('hide');
                    return;
                }

                else {
                    alert('Can not delete the selected Service. it is currently used for: ' + foundDependencies + ' offered services!');
                    $("#ModalDelete").modal('hide');
                    return;
                }


            })
        });

        $('#btnUpdateRow').click(function () {

            InitializeUpdate('#tbl_manageOLS')



            $("#ModalEdit").modal('hide');
        });



        //





    </script>