﻿
@using TestWebApp.Models;
@using Newtonsoft.Json;
@model List<TestWebApp.Models.tbl_userdata>
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="" />
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

</head>
<style>

    div {
        display: block;
    }

    .formDiv {
        overflow: auto;
        max-height: 800px;
        padding: 5px 10%;
    }

    .inputField::after {
        clear: both;
        line-height: 0;
        visibility: hidden;
    }

    .inputField label {
        width: 40%;
        padding-top: 6px;
    }

    .inputField input {
        border: 1px solid black;
        border-radius: 0px;
        padding-left: 2px;
    }

    .inputField select {
        width: 180px;
        left: -1px;
        height: 35px;
        top: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        right: 0px;
        border-radius: 0px;
        border: 1px solid black;
    }

    .DataTableDiv {
        max-width: 80%;
    }
    .highlight {
        background-color: #aab7d1 !important;
        color: black !important;
    }

    #btnDelete {
        float: left;
        display: inline;
    }

    tr:hover {
        background-color: #d9d9db !important
    }

    #tbl_manageusers {
        table-layout: fixed;
        max-width: 100%;
        margin: 0 auto;
        clear: both;
    }

    .dtButtons {
        max-width: 100%;
        margin: 0 auto;
        clear: both;
    }

</style>

<section class="section-content bg padding-y-sm" style="display: block; margin: auto;position:relative;bottom:70px;">

    <div class="dtButtons">
        <button id="btnCreate">Create</button>
        <button class="btnEdit" id="#tbl_manageusers">Edit</button>
        <button id="btnDelete">Delete</button>

    </div>

    <table id="tbl_manageusers" class="DataTableDiv">
        <thead>
            @foreach (System.Reflection.PropertyInfo property in Model.First().GetType().GetProperties())
            {
                if (property.Name == "Message" || property.Name == "fld_password")
                {

                }
                else
                {
                <th>@property.Name</th>

            }
        }
            </thead>

            <tbody>
                @foreach (var user in Model)
                {
                    <tr class="clickableRow" id="@user.fld_userid">
                        @foreach (System.Reflection.PropertyInfo property in Model.First().GetType().GetProperties())
                        {
                            if (property.Name == "Message" || property.Name == "fld_password")
                            {

                            }
                            else
                            {
                                <td>@property.GetValue(user)</td>

                            }
                        }
                    </tr>
                }
            </tbody>
        </table>

        <!--Modal for creation-->
        <div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" id="ModalCreate">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button id="X" type="button" class="close" data-dismiss="modal">
                            X
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="formDiv">


                            <form id="newItemForm">
                                <div class="inputField">
                                    <label>Username:</label>
                                    <input name="fld_username" id="fld_username" maxlength="50" pattern="[a-zA-Z]{2,}" placeholder="Username" required="" title="Username must be between 2 and 50 alphabetical characters (abcdef..)" type="text">
                                </div>
                                <div class="inputField">
                                    <label>Password:</label>
                                    <input name="fld_password" id="fld_password" maxlength="50" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,}" placeholder="Password" required="" title="Must contain at least one number and one uppercase and lowercase letter, and at least 4 or more characters." type="password" style="margin: 0px; padding: 0px;">
                                </div>
                                <div class="inputField">
                                    <label>First name:</label>
                                    <input name="fld_firstname" id="fld_firstname" maxlength="50" pattern="[a-zA-Z]{2,}" placeholder="Username" required="" title="First name must be between 2 and 50 alphabetical characters (abcdef..)" type="text">
                                </div>
                                <div class="inputField">
                                    <label>Last name:</label>
                                    <input name="fld_lastname" id="fld_lastname" maxlength="50" pattern="[a-zA-Z]{2,}" placeholder="Username" required="" title="Last name must be between 2 and 50 alphabetical characters (abcdef..)" type="text">
                                </div>
                                <div class="inputField">
                                    <label>Gender:</label>
                                    <select name="fld_gender" id="fld_gender" required="" style="">
                                        <option value="Male">
                                            Male
                                        </option>
                                        <option value="Female">
                                            Female
                                        </option>
                                        <option value="Other">
                                            Other
                                        </option>
                                    </select>
                                </div>
                                <div class="inputField">
                                    <label>Address:</label>
                                    <input name="fld_address" id="fld_address" maxlength="60" pattern="(?=.*\d)(?=.*[a-z]).{2,}" placeholder="Address" required="" title="Must contain a streetname and a number like 'Bieslook 17', streetname must have at least 2 characters.'" type="text">
                                </div>
                                <div class="inputField">
                                    <label>Zipcode:</label>
                                    <input name="fld_zipcode" id="fld_zipcode" pattern="[1-9][0-9]{3}\s?[a-zA-Z]{2}" placeholder="Zip Code" required="" title="Zip-code must follow standard rules. Example: 1234 AB" type="text">
                                </div>

                                <div class="inputField">
                                    <label>Date of birth:</label>
                                    <input name="fld_dateofbirth" id="fld_dateofbirth" max='2000-13-13' min='1900-01-01' pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" placeholder="Date of Birth (DD/MM/YYYY)" required="" type="date" style="border-radius: 0px; margin: 0px; padding: 0px; width: 179px; ">
                                    <script type="text/javascript">
                                        var today = new Date();
                                        var dd = today.getDate();
                                        var mm = today.getMonth() + 1; //January is 0!
                                        var yyyy = today.getFullYear();
                                        if (dd < 10) {
                                            dd = '0' + dd
                                        }
                                        if (mm < 10) {
                                            mm = '0' + mm
                                        }
                                        today = yyyy + '-' + mm + '-' + dd;
                                        document.getElementById("datefield").setAttribute("max", today);
                                    </script>
                                </div>


                                <div class="inputField">
                                    <label>Phone number:</label>
                                    <input name="fld_phonenumber" id="fld_phonenumber" pattern="[+]{1}[0-9]{11,13}" placeholder="Phone Number" required="" title="A phone number must consist of a + and at least 11 numbers for example (+31612345678)" type="tel" style="padding: 0px; margin: 0px;">
                                </div>
                                <div class="inputField">
                                    <label>Email:</label>
                                    <input name="fld_email" id="fld_email" pattern="a-z0-9._%+-]+a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Email Address" required="" title="Email must follow following example: example.example.com" type="email" style="padding: 0px; margin: 0px;">
                                </div>
                                <div class="inputField">
                                    <label>ActivationCode:</label>
                                    <input name="fld_activationcode" id="fld_activationcode" pattern="\w+" placeholder="Activation code" required="" title="The activation code must contain at least one or more characters and/or numbers" type="text">
                                </div>
                                <div class="inputField">
                                    <label>Activated:</label>
                                    <select name="fld_isactivated" id="fld_isactivated" required="">
                                        <option value="1">
                                            Activated
                                        </option>
                                        <option value="0">
                                            Not activated
                                        </option>
                                    </select>
                                </div>

                                <div class="inputField">
                                    <label>AdminPriv:</label>
                                    <select name="fld_adminPriv" id="fld_adminPriv" required="">
                                        <option value="Y">
                                            Admin
                                        </option>
                                        <option value="N">
                                            Not Admin
                                        </option>
                                    </select>
                                </div>



                                <input type="hidden" value="" id="itemId">
                                <input type="hidden" value="tbl_userdata" id="objectType">

                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnCreateNew">Create</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal for deletion-->
        <div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" id="ModalDelete">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button id="X" type="button" class="close" data-dismiss="modal">
                            X
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to Delete the item? </p>
                    </div>
                    <div class="modal-footer">
                        <button id="btnDeleteRow">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!--Modal for updating-->
    @{ var counter = 1;}
        <div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" id="ModalEdit">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button id="X" type="button" class="close" data-dismiss="modal">
                            X
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="formDiv">
                            <form id="updateItemForm" method="put">
                                <div class="inputField">
                                    <label>Username:</label>
                                    <input name="fld_username" id="editInput1" maxlength="50" pattern="[a-zA-Z]{2,}" placeholder="Username" required="" title="Username must be between 2 and 50 alphabetical characters (abcdef..)" type="text">
                                </div>
                                <div class="inputField">
                                    <label>First name:</label>
                                    <input name="fld_firstname" id="editInput2" maxlength="50" pattern="[a-zA-Z]{2,}" placeholder="Username" required="" title="First name must be between 2 and 50 alphabetical characters (abcdef..)" type="text">
                                </div>
                                <div class="inputField">
                                    <label>Last name:</label>
                                    <input name="fld_lastname" id="editInput3" maxlength="50" pattern="[a-zA-Z]{2,}" placeholder="Username" required="" title="Last name must be between 2 and 50 alphabetical characters (abcdef..)" type="text">
                                </div>
                                <div class="inputField">
                                    <label>Gender:</label>
                                    <select name="fld_gender" id="editInput4" required="" style="">
                                        <option value="Male">
                                            Male
                                        </option>
                                        <option value="Female">
                                            Female
                                        </option>
                                        <option value="Other">
                                            Other
                                        </option>
                                    </select>
                                </div>
                                <div class="inputField">
                                    <label>Address:</label>
                                    <input name="fld_address" id="editInput5" maxlength="60" pattern="(?=.*\d)(?=.*[a-z]).{2,}" placeholder="Address" required="" title="Must contain a streetname and a number like 'Bieslook 17', streetname must have at least 2 characters.'" type="text">
                                </div>
                                <div class="inputField">
                                    <label>Zipcode:</label>
                                    <input name="fld_zipcode" id="editInput6" pattern="[1-9][0-9]{3}\s?[a-zA-Z]{2}" placeholder="Zip Code" required="" title="Zip-code must follow standard rules. Example: 1234 AB" type="text">
                                </div>

                                <div class="inputField">
                                    <label>Date of birth:</label>
                                    <input name="fld_dateofbirth" id="editInput7" max='2000-13-13' min='1900-01-01' pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" placeholder="Date of Birth (DD/MM/YYYY)" required="" type="date" style="border-radius: 0px; margin: 0px; padding: 0px; width: 179px; ">
                                    <script type="text/javascript">
                                        var today = new Date();
                                        var dd = today.getDate();
                                        var mm = today.getMonth() + 1; //January is 0!
                                        var yyyy = today.getFullYear();
                                        if (dd < 10) {
                                            dd = '0' + dd
                                        }
                                        if (mm < 10) {
                                            mm = '0' + mm
                                        }
                                        today = yyyy + '-' + mm + '-' + dd;
                                        document.getElementById("datefield").setAttribute("max", today);
                                    </script>
                                </div>


                                <div class="inputField">
                                    <label>Phone number:</label>
                                    <input name="fld_phonenumber" id="editInput8" pattern="[+]{1}[0-9]{11,13}" placeholder="Phone Number" required="" title="A phone number must consist of a + and at least 11 numbers for example (+31612345678)" type="tel" style="padding: 0px; margin: 0px;">
                                </div>
                                <div class="inputField">
                                    <label>Email:</label>
                                    <input name="fld_email" id="editInput9" pattern="a-z0-9._%+-]+a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Email Address" required="" title="Email must follow following example: example.example.com" type="email" style="padding: 0px; margin: 0px;">
                                </div>
                                <div class="inputField">
                                    <label>ActivationCode:</label>
                                    <input name="fld_activationcode" id="editInput10" pattern="\w+" placeholder="Activation code" required="" title="The activation code must contain at least one or more characters and/or numbers" type="text">
                                </div>
                                <div class="inputField">
                                    <label>Activated:</label>
                                    <select name="fld_isactivated" id="editInput11" required="">
                                        <option value="1">
                                            Activated
                                        </option>
                                        <option value="0">
                                            Not activated
                                        </option>
                                    </select>
                                </div>

                                <div class="inputField">
                                    <label>AdminPriv:</label>
                                    <select name="fld_adminPriv" id="editInput12" required="">
                                        <option value="1">
                                            Admin
                                        </option>
                                        <option value="0">
                                            Not Admin
                                        </option>
                                    </select>
                                </div>



                                <input type="hidden" value="" id="itemId">
                                <input type="hidden" value="tbl_userdata" id="objectType">

                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnUpdateRow">Update</button>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>

        //Instantiate the datatable
        $(document).ready(function () {
            $('#tbl_manageusers').DataTable({

                "columns": [
                    {
                        "defaultContent": "", "targets": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
                    }
                ],

                "columnDefs": [
                    { "searchable": true, "targets": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] },
                    { "ordering": true, "targets": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] }
                ],
                "createdRow": function (row, data, index) {
                    $(row).addClass('clickableRow');
                }
            });
        });

        //Delete a selected item
        $(document).ready(function () {
            $('#btnDeleteRow').click(function () {
                console.log('clicked');

                var itemId = deleteFromTable('#tbl_manageusers');

                if (itemId === -1) {
                    alert('No row selected!');
                }

                else {
                    deleteFromDatabase(itemId, 'tbl_userdata')
                }

                $("#ModalDelete").modal('hide');

            })
        });

        //Create a new item

        $(document).ready(function () {
            $('#btnCreateNew').click(function () {

                InitializeCreation('#tbl_manageusers');

                $("#ModalCreate").modal('hide');

            });
        });

        //Update an item

        $('#btnUpdateRow').click(function () {

            InitializeUpdate('#tbl_manageusers')

            

            $("#ModalEdit").modal('hide');
        });



    </script>