﻿@using TestWebApp.ElasticSearch.Queries;


<style>

    #LabourerTable {
        padding: 5px;
        border: 1px solid black;
    }

    #ServiceTable {
        padding: 5px;
        border: 1px solid black;
    }

        #ServiceTable select {
        }

    .OLScreationform {
        margin: auto;
        width: 50%;
        border: 1px solid black;
        padding: 10px;
        left: 15px;
    }

    .CreationItemPreviewDiv {
        padding: 15px;
        border: 1px solid black;
        right: 15px;
    }
</style>
<section>

    <div class="row">
        <div class="col">
            <h3>Select the service</h3>
            <div id="ServiceTable">
                @{ Html.RenderPartial("ServiceDatatable", EsServiceQuery.AllServices());}
            </div>
        </div>
        <div class="col">
            <h3>Select the labourer</h3>
            <div id="LabourerTable">
                @{ Html.RenderPartial("LabourerDatatable", EsLabourerQuery.AllLabourers());}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3>Enter the offered service data</h3>
            <div class="OLScreationform">
                <form id="newItemForm">
                    <div class="inputField">
                        <label>Cost:</label>
                        <input name="fld_cost" id="editInput3" type="number">
                    </div>
                    <div class="inputField">
                        <label>Time begin:</label>
                        <input name="fld_timefirst" id="editInput4" type="time">
                    </div>
                    <div class="inputField">
                        <label>Time end:</label>
                        <input name="fld_timelast" id="editInput5" type="time">
                    </div>
                    <div class="inputField">
                        <label>Area:</label>
                        <select name="fld_Area" id="editInput6">
                            <option value="Drenthe">Drenthe</option>
                            <option value="Flevoland">Flevoland</option>
                            <option value="Friesland">Friesland</option>
                            <option value="Gelderland">Gelderland</option>
                            <option value="Groningen">Groningen</option>
                            <option value="Limburg">Limburg</option>
                            <option value="Noord-Brabant">Noord-Brabant</option>
                            <option value="Noord-Holland">Noord-Holland</option>
                            <option value="Overijssel">Overijssel</option>
                            <option value="Utrecht">Utrecht</option>
                            <option value="Zeeland">Zeeland</option>
                            <option value="Zuid-Holland">Zuid-Holland</option>
                        </select>
                    </div>

                    <div class="inputField">
                        <label>Still available:</label>
                        <select name="fld_stillavailable" id="editInput7">
                            <option value="N">Unavailable</option>
                            <option value="Y">Available</option>
                        </select>
                    </div>
                    <input type="hidden" value="offeredlabourerservice" id="objectType">
                </form>
            </div>
        </div>

        <div class="col">
            <h3>Preview</h3>
            <div class="CreationItemPreviewDiv">
                <div class="itemPreviewDiv">
                    Click the Render Preview button to preview the Offered service!
                </div>
            </div>
        </div>

    </div>
</section>