﻿@model List<TestWebApp.Models.tbl_servicedata>

<style>
    #tbl_manageservices {
        overflow: visible;
    }

</style>


<table id="tbl_manageservices" class="DataTableDiv">
    <thead>
        @foreach (System.Reflection.PropertyInfo property in typeof(TestWebApp.Models.tbl_servicedata).GetProperties())
        {
            if (property.Name == "fld_description" || property.Name == "fld_imagelink")
            {

            }
            else
            {
                <th>@property.Name</th>

            }
         }
    </thead>
    <tbody>
        @foreach (var service in Model)
        {
        <tr class="clickableRow" id="@service.fld_serviceid">
            @foreach (System.Reflection.PropertyInfo property in typeof(TestWebApp.Models.tbl_servicedata).GetProperties())
            {
                if (property.Name == "fld_description" || property.Name == "fld_imagelink")
                {

                }
                else
                {
                    <td>@property.GetValue(service)</td>
                }

            }
        </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#tbl_manageservices').DataTable({
            "columns": [
                { "width": "2%" },
                null,
                null
            ]
        });
    });
</script>