﻿@model TestWebApp.Models.UserStatusModel
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <title>MOLL | Register</title>
</head>

<body>
    <div id="menu_underheader">
        <h1>Register | Please fill in your details below</h1>
    </div>

    <div>

        <p>No account? Fill in your email address</p>
        <form asp-action="ProceedToPayment" asp-controller="ShoppingCart">
            <label>Email address</label>
            <input name="fld_emailaddress" type="text" />


            <button type="submit">Proceed to payment</button>
        </form>
        <!-- Geef de optie om in te loggen of om als unregistered user alleen een email adres op te geven-->
        <p>Are you and existing user? Log in! WTF</p>
        <form asp-action="ProceedToPayment" asp-controller="ShoppingCart">
            <label>Email Address</label>
            <input name="fld_emailaddress" type="text" />
            <label>Password</label>
            <input name="fld_password" type="password" />
        </form>
    </div>
    </html>
</body>

