﻿@using TestWebApp.Models.ProductPackage;
@using TestWebApp.Models;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model Tuple<List<OfferedLabourerService>, string[]>

    <body style='box-sizing: border-box;font-family: Lato, Lucida Grande, Lucida Sans Unicode, Tahoma, Sans-Serif; width: auto;height: 100vw;margin: 0 0 0 0;'>
        <div id='section_form' style='box-sizing: border-box;background: #f4f4f4;padding-top: 2vw;padding-bottom: 5vw;'>
            <img id='circlelogo' src='https://i.imgur.com/lrkjNdQ.png' style='box-sizing: border-box;width: 8vw;height: auto;margin: auto;display: block;position: relative;top: 20px;z-index: 999;'>
            <div id='rectangle' style='box-sizing: border-box;;width: 40vw;height: auto;background: white;padding: 30px;margin: auto;border-radius: 30px;z-index: 950;'>

                <div class='registrationform' style='box-sizing: border-box;'>
                    <table style='box-sizing: border-box;border: 0px solid #ffac35;margin: auto;text-align: center;font-size: 16px;margin-top: 20px;'>
                        <tbody style='box-sizing: border-box;'>
                            <tr style='box-sizing: border-box;'>
                                <td style='box-sizing: border-box;'>
                                    <p style='box-sizing: border-box;color: #666666;font-size: 27px;font-weight: 700;font-family: Lato, Lucida Grande, Lucida Sans Unicode, Tahoma, Sans-Serif;margin-bottom: 5%;'>Thank you for your purchase!</p>
                                    <p>With kind regards, </p>
                                </td>
                            </tr>
                            <tr>
                                <p>Dear @Model.Item2[0] @Model.Item2[1],
                                <p>

                                <p>Your order has been successfully processed. Thank you for choosing MOLL Webshop.
                                <p>
                                <p>All information about your orders are available in your account. A confirmation mail has also been sent to your chosen labourers, who will be ready to start working for you on the target date!
                                <p>

                                    <br />
                                    <hr />
                                <p style="font-size: 13px; text-align: center"> Your Order: </p>

                                <div style="padding: 5px; background-color:#dbdbdb; height:40px; width:90%; margin:auto; font-size: 9px">

                                    <div style="padding: 3px; background-color: #dbdbdb; font-weight: bold; width: 18%; float:left; ">
                                    </div>
                                    <div style="padding: 3px; background-color: #dbdbdb; font-weight: bold; width: 30%; float:left;">
                                        <p>Description</p>
                                    </div>
                                    <div style="padding: 3px; background-color: #dbdbdb; font-weight: bold; width: 10%; float:left;">
                                        <p> Order Id </p>
                                    </div>
                                    <div style="padding: 3px; background-color: #dbdbdb; font-weight: bold; width: 20%; float:left;">
                                        <p>Target Delivery date</p>
                                    </div>
                                    <div style="padding: 3px; background-color: #dbdbdb; font-weight: bold; width: 3%; float:left;">
                                        <p>Price</p>
                                    </div>

                                </div>

                                @{
						foreach(OfferedLabourerService pack in Model.Item1)
						{

                                    <div style="padding: 5px; overflow: auto; width:90%; margin:auto;">

                                        <div style="padding: 3px; font-size: 9px; width: 18%; float:left;">
                                            <img style="max-width:100px; float:left; margin: 5px;" src="@pack.fld_imagelink" />

                                        </div>
                                        <div style="padding: 5px; font-size: 9px; width: 30%; float:left;">
                                            <p>@pack.fld_name offered by @pack.fld_firstname @pack.fld_lastname</p>
                                            <p>@pack.fld_description</p>
                                        </div>
                                        <div style="padding: 3px; font-size: 9px; width: 10%; float:left;">
                                            <p>@pack.fld_offeredserviceid</p>
                                        </div>
                                        <div style="padding: 3px; font-size: 9px;  width: 20%; float:left;">
                                            <p> @DateTime.Now.AddDays(7)</p>
                                        </div>
                                        <div style="padding: 3px; font-size: 9px;  width: 3%; float:left;">
                                            <p>€@pack.fld_cost</p>
                                        </div>

                                    </div>

                            }
                                }


                                <div style="padding: 5px; height:50px; width:90%; margin:auto; background-color: #dbdbdb;">

                                    <div style="padding: 3px; font-size: 9px; width: 18%; float:left;">
                                    </div>
                                    <div style="padding: 3px; font-size: 9px; width: 30%; float:left;">

                                    </div>
                                    <div style="padding: 3px; font-size: 9px; width: 10%; float:left;">
                                    </div>
                                    <div style="padding: 3px; font-size: 12px;  width: 20%; float:left; background-color: #dbdbdb;">
                                        <p>Total: </p>
                                    </div>
                                    <div style="padding: 3px; font-size: 12px;  width: 3%; float:left; background-color: #dbdbdb;">
                                        <p>€@Model.Item1.Sum(s => s.fld_cost) </p>
                                    </div>

                                </div>

                                <p style="text-align: center; font-size: 13px">Order paid using: Paypal</p>

                                <div style="padding: 5px; margin: auto; width: 90%; background-color: #dbdbdb; height: 100px;">

                                    <div style="background-color: #dbdbdb; padding: 5px; font-size: 11px; text-align: center; width: 30%; float:left;">

                                    </div>

                                    <div style="background-color: #dbdbdb; padding: 5px; font-size: 11px; text-align: center; width: 30%; float:left;">
                                        <p style="font-weight: bold;">Working location </p>
                                        <p> Address: @Model.Item2[2]</p>
                                        <p> Zipcode: @Model.Item2[3]</p>
                                    </div>

                                    <div style="background-color: #dbdbdb; padding: 5px; font-size: 11px; text-align: center; width: 30%; float:left;">

                                    </div>
                                </div>
                            </tr>

                            <tr style='box-sizing: border-box;'>
                                <td style='box-sizing: border-box;'>
                                    <a href=\"https://localhost:44346"><button style='box-sizing: border-box;background-color: #ffac35;color: white;padding: 10px 10px;border: none;cursor: pointer;opacity: 0.9;width: 220px;height: 100px;font-size: 25px;font-weight: 700;border-radius: 7px;-moz-transition: all 0.2s ease 0s;-o-transition: all 0.2s ease 0s;transition: all 0.2s ease 0s;margin: 0 auto;text-align: center;'>MOLL WebShop</button> </a>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
