﻿@using TestWebApp.Models.ProductPackage;
@using TestWebApp.Models;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model Tuple<List<OfferedLabourerService>, tbl_userdata>
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<style>
    .H1OS {
        font-family: 'Montserrat', sans-serif;
    }

    .Height{
        margin-top: -100px;
    }

    .smallShoppingCart {
        float: left;
        border: solid 1px #ffac35;
        border-radius: 10px;
        max-width: 10%;
        margin: 10px;
        padding: 10px;
        background-color: white;
        min-height: 332px;
    }

        .smallShoppingCart p {
            font-family: 'Montserrat', sans-serif;
        }

        .smallShoppingCart strong {
            font-family: 'Montserrat', sans-serif;
            margin: 0;
        }

    .userOrderInfo {
        min-height: 332px;
        border: solid 1px #ffac35;
        border-radius: 10px;
        max-width: 25%;
        float: left;
        margin: 10px;
        padding: 18px;
        background-color: white;
    }

        .userOrderInfo strong {
            font-family: font-family: 'Montserrat', sans-serif;
        }

    .detailedShoppingCart {
        border: solid 1px #ffac35;
        border-radius: 10px;
        float: left;
        margin: 10px;
        max-width: 60%;
        padding: 10px;
        font-size: 12px;
        display: inline;
        background-color: white;
    }

        .detailedShoppingCart strong {
            font-family: 'Montserrat', sans-serif;
        }

    .Service {
        border: solid 1px;
        border-radius: 10px;
        max-width: 40%;
        float: left;
        margin-right: 5px;
        padding: 10px;
        background-color: #f4ca88
    }

        .Service p {
            color: black;
            margin: 0;
            font-family: 'Montserrat', sans-serif;
        }

        .Service strong {
            color: #a9a9a9;
            font-family: 'Montserrat', sans-serif;
        }

    .labourer {
        border: solid 1px;
        border-radius: 10px;
        float: left;
        min-width: 45%;
        margin-left: 5px;
        padding: 10px;
        background-color: #f4ca88;
        min-height: 291px;
    }

        .labourer strong {
            color: #a9a9a9;
            font-family: 'Montserrat', sans-serif;
        }

        .labourer p {
            color: black;
            margin: 0;
            font-family: 'Montserrat', sans-serif;
        }

    .pOrderspecification {
        color: #ffac35;
        margin: 0;
        font-family: 'Montserrat', sans-serif;
    }
    input[type=text], input[type=password], input[type=date], [type=email], [type=tel] {
        border-radius: 10px;
        padding: 10px;
        margin: 0 10px 0px 0;
        display: inline-block;
        border-style: solid;
        border-color: #ffac35;
        -moz-transition: all 0.2s ease 0s;
        -o-transition: all 0.2s ease 0s;
        transition: all 0.2s ease 0s;
        position: relative;
</style>
<div class="Height">

    <h1 class="H1OS">Your order specification</h1>
    <div>
        <div class="smallShoppingCart">
            <!--Small shopping cart. Displayed for clarities' sake-->
            <strong>Shopping cart</strong>
            <div style="font-size: 12px;">
                <p>@Model.Item1.Count items @Html.ActionLink("Change", "ShoppingCart")</p>

                <i>
                    @{ if (Model.Item1.Count != 0)
                        {
                            foreach (var pack in Model.Item1)
                            {
                                <p>@(String.Format("* {0} offered by {1} {2}", pack.fld_name, pack.fld_firstname, pack.fld_lastname))</p>
                                
                            }
                        }
                    }
                </i>

                <hr />

                <strong>Total items: </strong> @Model.Item1.Count <p> <strong>Total Price:</strong> € @Model.Item1.Sum(s => s.fld_cost)</p>
            </div>

        </div>
    </div>



    <div class="userOrderInfo">
        <!--Lets the user recheck their credentials. Labourers should get an email with this information, after all-->
        <strong>Specify working location</strong>
        <form asp-controller="ShoppingCart" asp-action="PaymentMethod">
            <div style="float:left;">
                <p class="pOrderspecification">Your first name</p>
                <input type="text" name="fld_firstname" asp-for="Item2.fld_firstname" pattern="[a-zA-Z]{2,}" placeholder="First Name" required="" title="Your name must be between 2 and 50 alphabetical characters (abcdef..)" />
            </div>

            <div style="float:left;">
                <p class="pOrderspecification">Your last name</p>
                <input type="text" name="fld_lastname" asp-for="Item2.fld_lastname" pattern="([^\s][A-z\s]+)" placeholder="Last Name" required="" title="Your last name must be between 2 and 50 alphabetical characters (abcdef..)" />
            </div>

            <div style="float:left;">
                <p class="pOrderspecification">Your address</p>
                <input type="text" name="fld_address" asp-for="Item2.fld_address" pattern="[A-Za-z]{2,}\s[0-9]{1,}" placeholder="Address" required="" title="Must contain a streetname and a number like 'Bieslook 17', streetname must have at least 2 characters.'" />
            </div>

            <div style="float: left;">
                <p class="pOrderspecification">Your Zipcode</p>
                <input type="text" name="fld_zipcode" asp-for="Item2.fld_zipcode" pattern="[1-9][0-9]{3}\s?[a-zA-Z]{2}" placeholder="Zip Code" required="" title="Zip-code must follow standard rules. Example: 1234 AB" />
            </div>
            <div style="float: left;">
                <p class="pOrderspecification">Your email address</p>
                <input type="text" name="fld_email" asp-for="Item2.fld_email" pattern="[a-zA-Z0-9.-_]{1,}[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" placeholder="Email Address" required="" title="Email must follow following example: example.example.com" />
            </div>
            <br />
            <div style="float: left">
                <p class="pOrderspecification">Your prefix</p>
                <input type="radio" value="Female" /> <label>Ms.</label>
                <input type="radio" value="Male" /> <label>Mr.</label>
                <button type="submit">Proceed</button>
            </div>

                

            <!--The button that will be placed here will finalize the order and lets the user proceed to PaymentMethods.cshtml -->
        </form>
    </div>

    <div class="detailedShoppingCart">
        <!--For each item in shopping cart, we show all the details of the offered service. Which means: both labourer and service will be specified here.-->
        <strong>Your order</strong>

        @foreach (var pack in Model.Item1)
        {
            <div style="float: left;">

                <div class="Service">
                    <p><strong>Service:</strong> @pack.fld_name</p>
                    <img id="serviceimg" src="@pack.fld_imagelink" style="max-width: 50%;" />
                    <p><strong>Description:</strong> @pack.fld_description</p>
                    <p><strong>Category:</strong> @pack.fld_category</p>
                    <p><strong>Cost:</strong> @pack.fld_cost</p>

                </div>


                @{
                    string img = "";
                    if (pack.fld_gender == "Female")
                    {
                        img = "post-user-avatar-female.png";
                    }
                    else
                    {
                        img = "post-user-avatar.png";
                    }
                }



                <div class="labourer">
                    <p><strong>Labourer:</strong> @(String.Format("{0} {1}", pack.fld_firstname, pack.fld_lastname))</p>
                    <img id="smalltd"><img id="post-avatar" src="~/images/@img" style="max-width: 25%;" />
                    <p><strong>Working hours:</strong> @(String.Format("{0} - {1}", pack.fld_timefirst, pack.fld_timelast))</p>
                    <p><strong>Gender:</strong> @pack.fld_gender</p>
                    <p><strong>Email:</strong> @pack.fld_email</p>
                    <p><strong>Address:</strong> @(String.Format("{0}  {1}", pack.fld_address, pack.fld_zipcode))</p>
                </div>
            </div>

        }
        <div class="OrderSummary">

        </div>
    </div>
    <br style="clear: left;" />

</div>
