﻿@model List<TestWebApp.Models.ProductPackage.OfferedLabourerService>
@using TestWebApp.Models;
@using Microsoft.AspNetCore.Mvc.ModelBinding;
@using Microsoft.AspNetCore.Routing;
@using Microsoft.AspNetCore.Http;

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<head>
    <style>
        #PayBtn {
            position: sticky;
            margin-top: 10px;
            margin-left: 46%;

        }

        #RadioDiv{
            text-align: center;
        }
    </style>
</head>
<body bgcolor="#f4f4f4">
        <img id="circlelogo" src="~/images/img_loginLogo.png" />
        <div id="section_form">
            <div id="rectangle">

                <p style="text-align: center;">Choose your payment method</p>
                <form method="post" action="https://www.sandbox.paypal.com/cgi-bin/webscr">

                    <div id="RadioDiv" style="">
                        <input name="radioPayment" id="RadioPayPal" type="radio" value="PayPal" required /> <img id="PayPalLogo" src="~/images/PayPalLogo.png" />
                    </div>


                    <!-- PayPal Setting -->
                    <input type="hidden" name="upload" value="1" />
                    <input type="hidden" name="return" value="https://localhost:44346/ShoppingCart/Success" />
                    <input type="hidden" name="cmd" value="_cart" />
                    <input type="hidden" name="business" value="@ViewBag.payPayConfig.Business" />
                    <!--Products List -->
                    @{
                        var index = 1;
                    }
                    @foreach (var item in Model)
                    {
                        <input type="hidden" name="item_number_@index" value="@item.fld_offeredserviceid" />
                        <input type="hidden" name="item_name_@index" value="@item.fld_name" />
                        <input type="hidden" name="amount_@index" value="@item.fld_cost" />
                        <input type="hidden" name="quantity_@index" value="1" />
                        index++;
                    }

                    <button id="PayBtn" name="submit" type="submit">Proceed</button>

                </form>
                <!--Eind: Checkout button-->

                </div>
            </div>
        </div>

        <script>

        $(document).ready(function () {
            $('#PayBtn').click(function () {
                var orderMail = "@this.Context.Session.GetString("OrderMail")";

                $.ajax({
                    type: "GET",
                    contentType: "html",
                    async: true,
                    data: {
                        fld_email: orderMail
                    },
                    url: '/ShoppingCart/CreateOrders',
                    succes: function (result) {
                    }
                });
            });
        });

        //Toggle Payment choice on/off using its logo
        $(document).ready(function () {
            $('#PayPalLogo').click(function () {
                var input = $('#RadioPayPal');
                if (input.is(':checked')) {
                    console.log("input is true");
                    input.prop('checked', false);
                }
                else {
                    console.log("input is false");
                    input.prop('checked', true);

                }
            });
        });

        </script>
</body>
