﻿@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<style>
    #rectangle {
        width: 55vw;
        height: 14vw;
        background: white;
        padding: 30px;
        margin: auto;
        border-radius: 30px;
        z-index: 950;
    }

    .TableLeft {
        float: left;
    }

    .tableRight {
        border: 0px solid black;
        margin: auto;
        text-align: left;
        font-size: 16px;
        position: absolute;
        left: 51.5%;
    }
    td{
        color: #ffac35;
    }

    .paymentAuthentication button {
        background-color: #ffac35;
        color: grey;
        padding: 8px 10px;
        border: none;
        cursor: pointer;
        opacity: 0.9;
        width: 140px;
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-size: 15px;
        font-weight: 400;
        border-radius: 10px;
        -moz-transition: all 0.2s ease 0s;
        -o-transition: all 0.2s ease 0s;
        transition: all 0.2s ease 0s;
    }


    div.vertical-line {
        width: 1px; 
        background-color: #ffac35; 
        height: 29%;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
</style>

<body>
    <div class="paymentAuthentication">
        <img id="circlelogo" src="~/images/img_loginLogo.png" />
        <div id="section_form">
            <div id="rectangle">

                <!-- Geef de optie om in te loggen of om als unregistered user alleen een email adres op te geven-->

                <form asp-action="DoAuthentication" asp-controller="ShoppingCart">
                    <table class="TableLeft">
                        <tr>
                            <th>Are you an existing user? Log in!</th>
                        </tr>
                        <tr>
                            <td>Email Address</td>
                            <td>Password</td>
                        </tr>
                        <tr>
                            <td><input name="fld_emailaddress" pattern="a-z0-9._%+-]+a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Email Address" required="" title="Email must follow following example: example.example.com" type="email"></td>
                            <td><input name="fld_password" oninput="document.getElementById('confirm').pattern = this.value.replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, '\\$&')" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,}" placeholder="Enter Password" required="" title="Must contain at least one number and one uppercase and lowercase letter, and at least 4 or more characters." type="password"></td>
                        </tr>
                        <tr>
                            <td> <button type="submit">Proceed to payment</button></td>
                        </tr>
                        <tr>
                            <td>@ViewBag.Message</td>
                        </tr>
                    </table>
                </form>
                <div class="vertical-line"></div>
                <form asp-action="UnregisteredAuthentication" asp-controller="ShoppingCart">
                    <table class="tableRight" style="float: right;">
                        <tr>
                            <th>No account? Fill in your email address</th>
                        </tr>

                        <tr>
                            <td>Email address</td>
                        </tr>
                        <tr>
                            <td><input name="fld_emailaddress" pattern="a-z0-9._%+-]+a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Email Address" required="" title="Email must follow following example: example.example.com" type="email" /></td>
                        </tr>
                        <tr>
                            <td><button type="submit">Proceed to payment</button></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</body>

