﻿@model List<TestWebApp.Models.ProductPackage.OfferedLabourerService>
@using TestWebApp.Models;
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<head>
    <style>
        .gridDiv {
            display: grid;
            grid-template-columns: max-content 30% auto auto auto auto;
            padding: 10px;
            background: #f4f4f4 ;
        }

        .gridHeader {
            padding: 5px;
            font-size: 11px;
            background-color: #dbdbdb;
            font-weight: bold;
        }

        .gridElement {
            padding: 5px;
            font-size: 12px;
            position: relative;
        }

            .gridElement img {
                border: 1px solid black;
                max-height: 80px;
                margin: 5px;
            }

            .gridElement .verticalCenter {
                position: absolute;
                top: 30%;
            }

        #clickableElement:hover {
            transition: background-color 1s ease;
            background-color: #dbdbdb;
            cursor: pointer;
        }

        .gridSummary {
            padding: 5px;
            font-size: 13px;
            font-weight: bold;
            background-color: #dbdbdb;
        }
    </style>
</head>

<body bgcolor="#f4f4f4">
    <section class="section-content bg padding-y-sm">
        <div class="container">
            @if (Model.Count > 0)
            {


                <div id="menu_underheader">
                    <h1>Shopping Cart</h1>
                </div>
                <div class="gridDiv">
                    <div class="gridHeader">
                    </div>
                    <div class="gridHeader">
                        <p>Description</p>
                    </div>
                    <div class="gridHeader">
                        <p> Offered by </p>
                    </div>
                    <div class="gridHeader">
                        <p>Working hours</p>
                    </div>
                    <div class="gridHeader">
                        <p>Price</p>
                    </div>
                    <div>
                    </div>

                    @foreach (var item in Model)
                    {



                        <div class="gridElement">
                            <img style=" float: left;" src="@item.fld_imagelink" onclick="location.href='@Url.Action("Details", "Service", new { offeredserviceid = @item.fld_offeredserviceid })'" />
                        </div>

                        <div class="gridElement" id="clickableElement" onclick="location.href='@Url.Action("Details", "Service", new { offeredserviceid = @item.fld_offeredserviceid })'">

                            <p style="font-weight: bold">@item.fld_name</p>
                            <p>@item.fld_description</p>
                        </div>



                        <div class="gridElement" id="clickableElement" onclick="location.href='@Url.Action("DetailsById", "Labourer", new { labourerid = item.fld_labourerid })'">
                            @{
                                string img = "post-user-avatar.png";
                                if (item.fld_gender == "Female")
                                {
                                    img = "post-user-avatar-female.png";
                                }
                            }
                            <img style=" float:left;" src="~/images/@img" />
                            <div class="labourerTekst">
                                <p style="font-weight: bold">@item.fld_firstname @item.fld_lastname</p>
                                <p>@item.fld_address <br /> @item.fld_zipcode</p>
                                <p></p>

                                <p>@item.fld_email</p>
                            </div>
                        </div>

                        <div class="gridElement">

                            <div class="verticalCenter">
                                @item.fld_timefirst - @item.fld_timelast
                            </div>
                        </div>

                        <div class="gridElement">
                            <div class="verticalCenter">
                                €@item.fld_cost
                            </div>
                        </div>

                        <div class="gridElement">

                            <button style="top: 30%;  position: absolute;" onclick="location.href='@Url.Action("RemoveFromShoppingcart", "Cookie", new { fld_offeredserviceid = @item.fld_offeredserviceid })'"> remove </button>
                        </div>

                    }




                    <div class="gridSummary">
                    </div>
                    <div class="gridSummary">
                    </div>
                    <div class="gridSummary">
                    </div>
                    <div class="gridSummary">
                        <p>Articles: </p>
                        <p>Total: </p>
                    </div>
                    <div class="gridSummary">
                        <p> @Model.Count</p>
                        <p> €@Model.Sum(s => s.fld_cost) </p>
                    </div>



                </div>
            }

            @{
                if (Model.Count < 1)
                {
                    <p>Your Shopping cart is empty.<a href="@Url.Action("Index", "Service")">Find your service!</a> </p>
                }
            }
            </div>
        </section>


            <!--Eind:  De shopping cart items die worden gerendered-->
            <!--Begin: De popup die tevoorschijn komt als de user op de Plus Button klikt--
            <div class="modal fade" tabindex="-1" id="AddAService"
                 data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                ×
                            </button>
                            <h4 class="modal-title">Hey hallo daar</h4>
                        </div>
                        <div class="modal-body">
                            <div style="outline: red solid 2px" id="SearchResult">
                                <div id="searchResult">
                                    <p>hey</p>
                                </div>
                            </div>
                            <div style="outline: solid green 2px">
                                @{Html.RenderPartial("SearchForm", new OLSSearchModel());}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btnHideModal" class="btn btn-primary button button4">
                                Hide
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Eind: De popup die tevoorschijn komt als de user op de Plus Button klikt-->
            <button id="checkOutBtn" style="margin: auto; display:block;" type="button" onclick="location.href='@Url.Action("PaymentAuthentication", "ShoppingCart", new { orders = Model.Select(f => f.fld_offeredserviceid).Aggregate("", (current, next) => current + " " + next) })'">Check out</button>
            <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script>


            </script>
</body>
