﻿@model TestWebApp.Models.ProductPackage.OfferedLabourerService
@using TestWebApp.Controllers;
@using Microsoft.AspNetCore.Http;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
</head>

<style>
    #section_form {
    background: #f4f4f4;
}
    #popupcontainer{
        margin: auto;
    }
    #post-avatar{
        width: 80px;
        border-radius: 50px;
        margin: auto;
        position: relative;
        top: 30px;
        right: 25px;
    }
    #popupcontainer p{
        text-decoration: none;
        color: #444444;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 400;
    }
    #popupcontainer a{
        text-decoration: none;
        color: #444444;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 500;
    }
    #popupcontainer a:hover{
        opacity: .7;
    }
    #serviceimg{
        border-radius: 10px;
    }
    #popupcontainer button:hover {
        opacity: 0.75;
        -moz-transition: all 0.2s ease 0s;
        -o-transition: all 0.2s ease 0s;
        transition: all 0.2s ease 0s;
    }
    .addToCartBtn {
        background-color: #ffac35;
        color: grey;
        padding: 10px 10px;
        border: none;
        cursor: pointer;
        opacity: 0.9;
        width: 130px;
        font-family: 'Open Sans';
        color: white;
        font-size: 16px;
        font-weight: 600;
        border-radius: 10px;
        -moz-transition: all 0.2s ease 0s;
        -o-transition: all 0.2s ease 0s;
        transition: all 0.2s ease 0s;
    }
    .line{
        color: #feb348;
        background: #feb348;
        height: 2px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }
    #labnaam {
        font-size: 14px;
        font-weight: 500;
    }
    #popupcontainer h1 {
        font-size: 18px;
        font-weight: 500;
        color: #444444;
        font-family: 'Roboto', sans-serif;
    }
</style>
<body bgcolor="#f4f4f4">
    <div id="availabilityOverLay">
    </div>
    <div id="section_form">
        <table id="popupcontainer">
            <tbody>
                <tr>
                    <td>
                        @{
                            string img = "post-user-avatar.png";
                            if (Model.fld_gender == "Female")
                            {
                                img = "post-user-avatar-female.png";
                            }
                            string addToCartButtonClass = "addToCartBtn" + Model.fld_offeredserviceid;
                            string addToFavsButtonClass = "addToFavsBtn" + Model.fld_offeredserviceid;

                        }
                        <img id="post-avatar" src="~/images/@img" />
                    </td>
                    <td><p style="font-weight: 600; position: relative; top: 10px;">@Model.fld_firstname @Model.fld_lastname</p></td>
                    <td><a class=@addToFavsButtonClass><img id="like2" src="~/images/like.png" /></a></td>

                    <td><h2 id="wishlist2" class=@addToFavsButtonClass><a href="#">Add to Favourites</a></h2></td>

                </tr>
                <tr>
                    <td></td>
                    <td><p style="position: relative; bottom: 20px;">@Model.fld_address @Model.fld_zipcode</p></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><p style="position: relative; bottom: 30px;">@Model.fld_email</p></td>
                    <td></td>
                    <td><button class=@addToCartButtonClass id="@Model.fld_stillavailable">Add to cart</button></td>
                </tr>
            </tbody>
        </table>
        @{
            if (Model.fld_stillavailable == 'N')
            {
                <p style="color: red;">This service is currently unavailable!</p>
            }
        }

        <div class="line"></div>
        <table id='popupcontainer'>
            <tbody>
                <tr>
                    <td>
                        <img id="serviceimg" src="@Model.fld_imagelink" />
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td><h1>@Model.fld_name</h1></td>
                                </tr>
                                <tr>
                                    <td><p><i>@Model.fld_category</i></p></td>
                                </tr>
                                <tr>
                                    <td><p>@Model.fld_description</p></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    
</body>
<script type="text/javascript">

    $(document).ready(function () {
        $('@(".addToCartBtn" + Model.fld_offeredserviceid)').click(function () {

            var availability = @Model.fld_stillavailable;

            console.log('From the details page')

            if (availability === Y) {
                var id = @Model.fld_offeredserviceid;

                var loggedIn = @Json.Serialize(SessionController.returnLoggedIn(this.Context));

                if (loggedIn === true) {

                    var userId = @Json.Serialize(this.Context.Session.GetInt32("UserId"));

                    var result = AddToDbCart(id, userId);

                    alert('Added ' + '@Model.fld_name' + ' by ' + '@Model.fld_firstname' + ' ' + '@Model.fld_lastname' + ' to your shopping cart!');
                }

                else {
                    var result = AddToCookieCart(id, userId);
                    alert('Added ' + '@Model.fld_name'  + ' by ' + '@Model.fld_firstname' + ' ' + '@Model.fld_lastname' + ' to your shopping cart!');                }
            }

            else {
                alert('This service is currently not available anymore!');
                return;
            }

        });
    });

    $(document).ready(function () {
        $('@(".addToFavsBtn" + Model.fld_offeredserviceid)').click(function () {

            var id = @Model.fld_offeredserviceid;

            var loggedIn = @Json.Serialize(SessionController.returnLoggedIn(this.Context));

            if (loggedIn === true) {
                var fetch_data = '';
                $.ajax({
                    type: "GET",
                    contentType: "html",
                    async: false,
                    data: { fld_offeredserviceid: id },
                    url: '../Cookie/AddToFavourites',
                    succes: function (result) {
                        fetch_data = result;
                    }
                })

                alert('Added ' + '@Model.fld_name' + ' by ' + '@Model.fld_firstname' + ' ' + '@Model.fld_lastname' + ' to your favourites!');
            }

            else {
                alert('Please login to add the service to your favourites!');
                return;
            }

        });
    });
    
</script>
