﻿@model List<TestWebApp.Models.ProductPackage.OfferedLabourerService>
@using TestWebApp.Models.ProductPackage;
@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<style>
    #labname {
        font-size: 15px;
        margin-left: 1px;
        padding-top: 2px;
        position: relative;
        bottom: 10px;
    }

    html {
        font-size: 15px;
    }

    a:hover {
        text-decoration: none;
    }

    .img-wrap {
        text-align: center;
        display: block;
    }

        .img-wrap img {
            max-width: 100%;
        }

    .padding-y-sm {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    figure {
        margin-bottom: 0;
    }

    .row-sm {
        margin-right: -7px;
        margin-left: -7px;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

        .row-sm > [class^="col"] {
            padding-left: 7px;
            padding-right: 7px;
        }

    .bg {
        background-color: #f4f4f4 !important;
    }

    .card-product {
        margin-bottom: 1rem;
        /* btn-overlay-bottom */
    }

        .card-product:after {
            content: "";
            display: table;
            clear: both;
            visibility: hidden;
        }

        .card-product .img-wrap {
            overflow: hidden;
            position: relative;
            height: 206px;
            text-align: center;
            margin: 14px;
            margin-top: 10px;
        }

            .card-product .img-wrap p {
                font-family: 'Raleway', sans-serif;
                font-weight: 600;
                color: #383838;
                margin-bottom: 0px;
                font-size: 15px;
            }

            .card-product .img-wrap img {
                max-height: 100%;
                max-width: 100%;
                height: auto;
                width: auto;
                display: inline-block;
                -o-object-fit: cover;
                object-fit: cover;
            }

        .card-product .info-wrap {
            overflow: hidden;
            padding: 0px 10px 10px 10px;
            border-top: 1px solid #eee;
        }

    .serviceprice {
        margin-left: 1rem;
        color: #ffac35;
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
        font-size: 17px;
    }

    .servicestar img {
        width: 16px;
        height: auto;
        margin-bottom: 5px;
        margin-left: 1.5rem;
        margin-right: .2rem;
    }

    .sold img {
        width: 16px;
        height: auto;
        margin-bottom: 5px;
        margin-left: 1.5rem;
        margin-right: .2rem;
    }

    .like img {
        width: 16px;
        height: auto;
        margin-bottom: 5px;
        margin-left: 1.5rem;
        margin-right: .2rem;
    }

    .servicestar {
        color: #bbbbbb;
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
    }

    .sold {
        color: #bbbbbb;
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
    }

    .like {
        color: #bbbbbb;
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
    }

    .card-product:hover {
        -webkit-box-shadow: 0 7px 25px rgba(153, 153, 153, 0.3);
        box-shadow: 0 7px 25px rgba(153, 153, 153, 0.3);
        -webkit-transition: .3s;
        transition: .8s;
    }

    a:hover {
        text-decoration: none;
    }
</style>

<body bgcolor="#f4f4f4">
    <div id="menu_underheader">
        <h1>Service | Find the service you want!</h1>
    </div>
    <section class="section-content bg padding-y-sm">
        <div class="container">
            <div class="row-sm">

                @foreach (OfferedLabourerService pack in Model)
                {
                    <div class="col-md-3 col-sm-6" id="productDiv">
                        <a href="#" data-toggle="popover" data-trigger="click" id="@pack.fld_offeredserviceid">
                            <figure class="card card-product">
                                <div class="img-wrap"><p>@pack.fld_name</p><img src="@pack.fld_imagelink" /></div>
                                <figcaption class="info-wrap">
                                    <div class="price-wrap">
                                        <span class="serviceprice">€ @pack.fld_cost</span>
                                        <span class="sold"><img src="~/images/tile_sold.png" />@pack.fld_timesbought</span>
                                        <span class="like"><img src="~/images/tile_like.png" />@pack.fld_addedtowishlist</span>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                }

            </div>
        </div>
    </section>
    </body>
