html,
body {
    padding-top: 5rem;
    width: 100%;
}

#rectangle_acc table td {
    min-width: 21vw;
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
}

#myaccounttd {
    margin-top: 50px;
}

#userdata h1 {
    position: relative;
    bottom: 40px;
}

#rectangle_acc #userdata td {
    min-width: 21vw;
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
    min-height: 45px;
    max-height: 45px;
    margin-bottom: 15px;
}

#section_form_acc {
    background: #f4f4f4;
    padding-top: 2vw;
    padding-bottom: 5vw;
}

#rectangle_acc {
    text-align: center;
    width: 65vw;
    height: auto;
    background: white;
    padding: 30px;
    margin: auto;
    border-radius: 30px;
    z-index: 950;
}


/* Set a style for all buttons */

button {
    display: flex;
    justify-content: center;
    background-color: #ffac35;
    color: grey;
    padding: 12px 12px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    width: auto;
    font-family: 'Open Sans';
    color: white;
    font-size: 17px;
    font-weight: 600;
    border-radius: 7px;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

    button:hover {
        opacity: 0.75;
        -moz-transition: all 0.2s ease 0s;
        -o-transition: all 0.2s ease 0s;
        transition: all 0.2s ease 0s;
    }

#rectangle h1 {
    color: #444444;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 500;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    padding-left: 30px;
    padding-bottom: 40px;
    display: inline-block;
}

.titleText {
    color: #444444;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    display: inline-block;
}

.TitleData {
    /*Eventueel hier de code voor specifieke cell styles waar de title in zit*/
}

.titleTextData {
    color: #b9b9b9;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 500;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    display: inline-block;
    text-align: left;
    position: relative;
    top: 6px;
    margin-left: 10px;
}

input[type=text],
input[type=password] {
    padding: 8px;
    display: inline-block;
    border-style: solid;
    border-color: #ffac35;
    width: 20vw;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.registrationform [type=text], input[type=password], input[type=date], [type=email], [type=tel], [type=number], [type=time] {
    padding: 8px;
    display: inline-block;
    border-style: solid;
    border-color: #ffac35;
    width: 20vw;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
@media only screen and (max-width: 1100px) {
    #rectangle {
        width: 50vw;
        height: auto;
        background: white;
        padding: 30px;
        margin: auto;
        border-radius: 30px;
        position: relative;
        z-index: 950;
    }
}

@media only screen and (max-width: 1050px) {
    #rectangle {
        width: 80vw;
        height: auto;
        background: white;
        padding: 30px;
        margin: auto;
        border-radius: 30px;
        position: relative;
        z-index: 950;
    }
}

@media only screen and (max-width: 500px) {
    #rectangle {
        width: 90vw;
        height: auto;
        background: white;
        padding: 30px;
        margin: auto;
        border-radius: 30px;
        position: relative;
        z-index: 950;
    }
}


/*--------------------Under Header--------------------*/

#menu_underheader {
    height: 60px;
    width: 100%;
    background: #fafafa;
}

    #menu_underheader h1 {
        color: #333333;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 15px;
        margin: auto;
        width: auto;
        text-align: center;
        vertical-align: middle;
        padding-top: 20px;
    }
