html {
	font-size: 15px;
}
a:hover {
	text-decoration: none;
}
.img-wrap {
	text-align: center;
	display: block;
}
.img-wrap img {
	max-width: 100%;
}
.padding-y-sm {
	padding-top: 16px;
	padding-bottom: 16px;
}
figure {
	margin-bottom: 0;
}
.row-sm {
	margin-right: -7px;
	margin-left: -7px;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.row-sm>[class^="col"] {
	padding-left: 7px;
	padding-right: 7px;
}
.bg {
	background-color: #f4f4f4 !important;
}
.card-product {
	margin-bottom: 1rem;
	/* btn-overlay-bottom */
}
.card-product:after {
	content: "";
	display: table;
	clear: both;
	visibility: hidden;
}
.card-product .img-wrap {
	overflow: hidden;
	position: relative;
	height: 206px;
	text-align: center;
	margin: 14px;
	margin-top: 10px;
}
.card-product .img-wrap p{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #383838;
    margin-bottom: 0px;    font-size: 15px;
}
.card-product .img-wrap img {
	max-height: 100%;
	max-width: 100%;
	height: auto;
	width: auto;
	display: inline-block;
	-o-object-fit: cover;
	object-fit: cover;
}
.card-product .info-wrap {
	overflow: hidden;
	padding: 0px 10px 10px 10px;
	border-top: 1px solid #eee;
}
.serviceprice{
    margin-left: 1rem;
    color: #ffac35;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 17px;

}
.servicestar img{
    width: 16px;
    height: auto;
    margin-bottom: 5px;
    margin-left: 1.5rem;
    margin-right: .2rem;
}
.sold img{
       width: 16px;
    height: auto;
    margin-bottom: 5px;
    margin-left: 1.5rem;
    margin-right: .2rem;
}
.like img{
       width: 16px;
    height: auto;
    margin-bottom: 5px;
    margin-left: 1.5rem;
    margin-right: .2rem;
}
.servicestar {
    color: #bbbbbb;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}
.sold{
    color: #bbbbbb;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}
.like{
    color: #bbbbbb;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}
.card-product:hover {
	-webkit-box-shadow: 0 7px 25px rgba(153, 153, 153, 0.3);
	box-shadow: 0 7px 25px rgba(153, 153, 153, 0.3);
	-webkit-transition: .3s;
	transition: .8s;
}

@media only screen and (max-width: 1280px){
.serviceprice{
    margin-left: 1rem;
    color: #ffac35;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 17px;

}
.servicestar img{
    width: 16px;
    height: auto;
    margin-bottom: 5px;
    margin-left: 1.5rem;
    margin-right: .2rem;
}
.sold img{
       width: 16px;
    height: auto;
    margin-bottom: 5px;
    margin-left: 1.5rem;
    margin-right: .2rem;
}
.like img{
       width: 16px;
    height: auto;
    margin-bottom: 5px;
    margin-left: 1.5rem;
    margin-right: .2rem;
}
}
@media only screen and (max-width: 1199px){
.card-product .img-wrap {
	overflow: hidden;
	position: relative;
	height: 206px;
	text-align: center;
	margin: 14px;
	margin-top: 10px;
}
.card-product .img-wrap p{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #383838;
    margin-bottom: 0px; 
    font-size: 12px;
}
.card-product .img-wrap img {
	max-height: 100%;
	max-width: 100%;
	height: auto;
	width: auto;
	display: inline-block;
	-o-object-fit: cover;
	object-fit: cover;
}
.card-product .info-wrap {
    margin-top: -45px;
	overflow: hidden;
	padding: 0px 10px 10px 10px;
	border-top: 1px solid #eee;
}
.serviceprice{
    margin-left: .8rem;
    color: #ffac35;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 15px;

}
.servicestar img{
    width: 15px;
    height: auto;
    margin-bottom: 2px;
    margin-left: .8rem;
    margin-right: .2rem;
}
.sold img{
       width: 15px;
    height: auto;
    margin-bottom: 2px;
    margin-left: .8rem;
    margin-right: .2rem;
}
.like img{
       width: 15px;
    height: auto;
    margin-bottom: 2px;
    margin-left: .8rem;
    margin-right: .2rem;
}
}
@media only screen and (max-width: 1050px){
    .card-product .info-wrap {
	overflow: hidden;
	padding: 15px;
	border-top: 1px solid #eee;

}
    .serviceprice{
    margin-left: 1vw;
    color: #ffac35;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 17px;
    text-align: center;
}
.servicestar img{
    width: 16px;
    height: auto;
    margin-bottom: 5px;
    margin-left: .1vw;
    margin-right: .2rem;
}
.sold img{
       width: 16px;
    height: auto;
    margin-bottom: 5px;
    margin-left: .8vw;
    margin-right: .2rem;
}
.like img{
       width: 16px;
    height: auto;
    margin-bottom: 5px;
    margin-left: 1.8vw;
    margin-right: .2rem;
}
}
@media only screen and (max-width: 991px){
    .card-product .img-wrap {
	overflow: hidden;
	position: relative;
	height: 206px;
	text-align: center;
	margin: 14px;
	margin-top: 10px;
}
.card-product .img-wrap p{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #383838;
    margin-bottom: 0px; 
    font-size: 11px;
}
.card-product .img-wrap img {
	max-height: 100%;
	max-width: 100%;
	height: auto;
	width: auto;
	display: inline-block;
	-o-object-fit: cover;
	object-fit: cover;
}
.card-product .info-wrap {
    margin-top: -95px;
	overflow: hidden;
	padding: 0px 10px 10px 10px;
	border-top: 1px solid #eee;
}
.serviceprice{
    margin-left: .4rem;
    color: #ffac35;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 13px;

}
.servicestar img{
    width: 13px;
    height: auto;
    margin-bottom: 2px;
    margin-left: .2rem;
    margin-right: .2rem;
}
.sold img{
       width: 13px;
    height: auto;
    margin-bottom: 2px;
    margin-left: .2rem;
    margin-right: .2rem;
}
.like img{
       width: 13px;
    height: auto;
    margin-bottom: 2px;
    margin-left: .2rem;
    margin-right: .2rem;
}
    .servicestar {
    color: #bbbbbb;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
        font-size: 12px;
}
.sold{
    color: #bbbbbb;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;font-size: 12px;
}
.like{
    color: #bbbbbb;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;font-size: 12px;
}
}
@media only screen and (max-width: 767px){
    .card-product .img-wrap {
	overflow: hidden;
	position: relative;
	height: 206px;
	text-align: center;
	margin: 14px;
	margin-top: 10px;
        
}
.card-product .img-wrap p{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #383838;
    margin-bottom: 0px; 
    font-size: 15px;
}
.card-product .img-wrap img {
	max-height: 93%;
	max-width: 100%;
	height: auto;
	width: auto;
	display: inline-block;
	-o-object-fit: cover;
	object-fit: cover;
}
.card-product .info-wrap {
    margin-top: -25px;
	overflow: hidden;
	padding: 0px 10px 10px 10px;
	border-top: 1px solid #eee;
}
.serviceprice{
    margin-left: .4rem;
    color: #ffac35;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 17px;

}
.servicestar img{
    width: 16px;
    height: auto;
    margin-bottom: 2px;
    margin-left: 1.5rem;
    margin-right: .2rem;
}
.sold img{
       width: 16px;
    height: auto;
    margin-left: 1.2rem;
    margin-right: .2rem;
}
.like img{
       width: 16px;
    height: auto;
    margin-left: 1.2rem;
    margin-right: .2rem;
}
    .servicestar {
    color: #bbbbbb;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
        font-size: 15px;
}
.sold{
    color: #bbbbbb;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;font-size: 15px;
}
.like{
    color: #bbbbbb;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;font-size: 15px;
}
}
@media only screen and (max-width: 575px){
    .card-product .img-wrap {
	overflow: hidden;
	position: relative;
	height: 206px;
	text-align: center;
	margin: 14px;
	margin-top: 10px;
        
}
.card-product .img-wrap p{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #383838;
    margin-bottom: 0px; 
    font-size: 16px;
}

.card-product .img-wrap img {
	max-height: 93%;
	height: 100%;
    display: inline-block;
	-o-object-fit: cover;
	object-fit: cover;
}
.card-product .info-wrap {
    margin-top: 0px;
	overflow: hidden;
	padding: 0px 10px 10px 10px;
	border-top: 1px solid #eee;
}
.serviceprice{
    margin-left: 4.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 19px;

}
.servicestar img{
    width: 20px;
    height: auto;
    margin-bottom: 4px;
        margin-left: 5.2rem;
    margin-right: .2rem;
}
.sold img{
       width: 20px;
    height: auto;
    margin-left: 2.2rem;
    margin-right: .2rem;
    margin-bottom: 4px;
}
.like img{
       width: 20px;
    height: auto;
    margin-left: 2.2rem;
    margin-right: .2rem;
    margin-bottom: 4px;
}
    .servicestar {
    color: #bbbbbb;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
        font-size: 17px;
}
.sold{
    color: #bbbbbb;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;font-size: 17px;
}
.like{
    color: #bbbbbb;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;font-size: 17px;
}
}
@media only screen and (max-width: 450px){
    .card-product .img-wrap {
	overflow: hidden;
	position: relative;
	height: 206px;
	text-align: center;
	margin: 14px;
	margin-top: 10px;
        
}
.card-product .img-wrap p{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #383838;
    margin-bottom: 0px; 
    font-size: 16px;
}

.card-product .img-wrap img {
	max-height: 93%;
	height: 100%;
    display: inline-block;
	-o-object-fit: cover;
	object-fit: cover;
}
.card-product .info-wrap {
    margin-top: 0px;
	overflow: hidden;
	padding: 0px 10px 10px 10px;
	border-top: 1px solid #eee;
}
.serviceprice{
    margin-left: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 19px;

}
.servicestar img{
    width: 20px;
    height: auto;
    margin-bottom: 4px;
        margin-left: 2.2rem;
    margin-right: .2rem;
}
.sold img{
       width: 20px;
    height: auto;
    margin-left: 2.2rem;
    margin-right: .2rem;
    margin-bottom: 4px;
}
.like img{
       width: 20px;
    height: auto;
    margin-left: 2.2rem;
    margin-right: .2rem;
    margin-bottom: 4px;
}
    .servicestar {
    color: #bbbbbb;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
        font-size: 17px;
}
.sold{
    color: #bbbbbb;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;font-size: 17px;
}
.like{
    color: #bbbbbb;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;font-size: 17px;
}
}
@media only screen and (max-width: 345px){
    .card-product .img-wrap {
	overflow: hidden;
	position: relative;
	height: 206px;
	text-align: center;
	margin: 14px;
	margin-top: 10px;
        
}
.card-product .img-wrap p{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #383838;
    margin-bottom: 0px; 
    font-size: 16px;
}

.card-product .img-wrap img {
	max-height: 93%;
	height: 100%;
    display: inline-block;
	-o-object-fit: cover;
	object-fit: cover;
}
.card-product .info-wrap {
    margin-top: 0px;
	overflow: hidden;
	padding: 0px 10px 10px 10px;
	border-top: 1px solid #eee;
}
.serviceprice{
    margin-left: 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 19px;

}
.servicestar img{
    width: 20px;
    height: auto;
    margin-bottom: 4px;
        margin-left: 0.2rem;
    margin-right: .2rem;
}
.sold img{
       width: 20px;
    height: auto;
    margin-left: 0.2rem;
    margin-right: .2rem;
    margin-bottom: 4px;
}
.like img{
       width: 20px;
    height: auto;
    margin-left: 0.2rem;
    margin-right: .2rem;
    margin-bottom: 4px;
}
    .servicestar {
    color: #bbbbbb;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
        font-size: 17px;
}
.sold{
    color: #bbbbbb;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;font-size: 17px;
}
.like{
    color: #bbbbbb;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;font-size: 17px;
}
}