﻿@using TestWebApp.Models;
@using TestWebApp.Models.ProductPackage;
@model List<OfferedLabourerService>
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<link href="~/css/refined/style_Search.css" rel="stylesheet" />
<style>
    footer{
        display: none;
    }
</style>
<body>
    <table id="splitter">
        <tbody>
            <tr>
                <td id="splitter_left">
                    <div id="SearchForm">
                        @{ Html.RenderPartial("SearchForm", new OLSSearchModel());}
                    </div>
                </td>
                <td id="splitter_right">
                    <div id="SearchResult">
                        @{Html.RenderPartial("SearchResult");}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>