﻿@model TestWebApp.Models.tbl_labourerdata

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<head>
    <title>MOLL | Login</title>
</head>
<style>
    .labourerdetails td {
        color: #ffac35;
    }
</style>

<body bgcolor="#f4f4f4">
    <div id="menu_underheader">
        <h1>@Html.DisplayFor(model => model.fld_lastname)'s | Labourer details</h1>
    </div>
    <div id="section_form">
    <div id="rectangle">
        <div class="labourerdetails">
            <table>
                <tbody>
                    <tr>
                        <td></td>
                        <td><img id="post-avatar" src="~/images/post-user-avatar.png"/></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>First name</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;<i>@Html.DisplayFor(model => model.fld_firstname)</i></td>
                    </tr>
                    <tr>
                        <td>Last name</td>
                        <td>&nbsp;</td>
                        <td><i>@Html.DisplayFor(model => model.fld_lastname)</i></td>
                    </tr>
                    <tr>
                        <td>Labourer Id</td>
                        <td>&nbsp;</td>
                        <td><i>@Html.DisplayFor(model => model.fld_labourerid)</i></td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;<i>@Html.DisplayFor(model => model.fld_gender)</i></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;<i>@Html.DisplayFor(model => model.fld_address)</i></td>
                    </tr>
                    <tr>
                        <td>Zip code</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;<i>@Html.DisplayFor(model => model.fld_zipcode)</i></td>
                    </tr>
                    <tr>
                        <td>Date of Birth</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;<i>@Html.DisplayFor(model => model.fld_dateofbirth)</i></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;<i>@Html.DisplayFor(model => model.fld_email)</i></td>
                    </tr>
                    <tr>
                        <td>Phone Number</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;<i>@Html.DisplayFor(model => model.fld_phonenumber)</i></td>
                    </tr>
   </tbody>
            </table>
        </div>
    </div>
    </div>
</body>
