﻿@using Microsoft.AspNetCore.Http
@inject IUrlHelper urlHelper
@{string path = urlHelper.ActionContext.HttpContext.Request.Path.Value; }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" href="~/images/icon.ico">
    <title>MOLL | find the service you want!</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="~/css/refined/bootstrap.css" rel="stylesheet" />
    <link href="~/css/refined/style_allPages.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" defer="defer"></script>

    @{
        if (path == "Page/Register")
        {
            @Html.Raw("<link href=\"~/css/avatarupload.css\" rel=\"stylesheet\">");
            @Html.Raw("<link href=\"https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css\" rel=\"stylesheet\" integrity=\"sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN\" crossorigin=\"anonymous\">");
        }
    }
</head>
<body>
    <div class="NavigationContainer">
        <div class="navbar-top" table-responsive>
            
            <a asp-action="HomePage" asp-controller="Page"><img src="~/images/img_molllogo.png" /></a>
            @await Component.InvokeAsync("UserStatus");
        </div>

        <nav class="navbar navbar-expand-md navbar-dark bg-dark static-top">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="https://localhost:44346/Search/Search?description=Car%20mechanics">Car mechanics</a>
                            <a class="dropdown-item" href="https://localhost:44346/Search/Search?description=Computer%20fixes">Computer fixes</a>
                            <a class="dropdown-item" href="https://localhost:44346/Search/Search?description=Health">Health</a>
                            <a class="dropdown-item" href="https://localhost:44346/Search/Search?description=House%20Chores">House chores</a>
                            <a class="dropdown-item" href="https://localhost:44346/Search/Search?description=Miscellaneous">Miscellaneous</a>
                            <a class="dropdown-item" href="https://localhost:44346/Search/Search?description=School%20Tutoring">School tutoring</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a id="Wishlist" class="nav-link" asp-action="FavouritesList" asp-controller="Page">Favourites List</a>
                    </li>
                    <li class="nav-item">
                        <a id="myaccount" class="nav-link" asp-action="MyAccount" asp-controller="Account">My Account</a>
                    </li>
                    <li class="nav-item">
                        <a id="shoppingcart" class="nav-link" asp-action="ShoppingCart" asp-controller="ShoppingCart">Shopping Cart</a>
                    </li>
                </ul>
                <a></a>
                @await Component.InvokeAsync("SimpleSearchBar")
            </div>
        </nav>
    </div>

    <div class="PageContainer">
        <div id="PaddingPage" style="padding-top: 80px;">
            @RenderBody()
        </div>
    </div>
    <hr />
    <footer class="container3 body-content">
        <p>
            <img src="~/images/img_molllogo.png" />
            <img class="footervinkImg" src="~/images/checked.png" /> Ordered Today before 18:00, delivered tomorrow !
            <img class="footervinkImg" src="~/images/checked.png" /> Free delivery
            <img class="footervinkImg" src="~/images/checked.png" /> Free retour !
        </p>
    </footer>

    <partial name="_CookieConsentPartial" />
    @{
        if (path == "/Page/Register" || path == "/Service/Details")
        {
            @Html.Raw("<div>");
        }
        else
        {
            @Html.Raw("<div class=\"container3 body-content\">");
        }
    }

    @RenderSection("Scripts", required: false)
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>