﻿#rectangle_acc table td {
    min-width: 20vw;
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
}

#myaccounttd {
    margin-top: 50px;
}

#userdata h1 {
    position: relative;
    bottom: 40px;
}

#rectangle_acc #userdata td {
    min-width: 20vw;
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
    min-height: 45px;
    max-height: 45px;
    margin-bottom: 15px;
}

#section_form_acc {
    background: #f4f4f4;
    padding-top: 2vw;
    padding-bottom: 5vw;
}

#rectangle_acc {
    text-align: center;
    width: 65vw;
    height: auto;
    background: white;
    padding: 30px;
    margin: auto;
    border-radius: 30px;
    z-index: 950;
}

.titleText {
    color: #444444;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    display: inline-block;
}


.titleTextData {
    color: #b9b9b9;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 500;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    display: inline-block;
    text-align: left;
    position: relative;
    top: 6px;
    margin-left: 10px;
}

#selectgender {
    position: relative;
    bottom: 10px;
}

td button {
    background-color: #ffac35;
    color: grey;
    padding: 15px 10px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    width: 140px;
    font-family: 'Open Sans';
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

    td button:hover {
        opacity: .7;
        -moz-transition: all 0.2s ease 0s;
        -o-transition: all 0.2s ease 0s;
        transition: all 0.2s ease 0s;
    }
